// Fuentes

$primary-font: "Raleway", sans-serif;
$secondary-font: "Roboto", sans-serif;
$italic-font: "Bona Nova", serif;

// Media Queries

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;

// Colores

$primary-color: #5e312e;
$secondary-color: #c39c63;
$light-brown: #ebe7de;
$black: #000;
$white: #fff;
$light-gray: #eceeef;

//Unidades
$separation: 5rem;
